* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  /* gap: 25px; */
  justify-content: center;
  flex-direction: column;
  background-color: rgb(26, 186, 201);
  padding: 50px;
  border-radius: 50px;

  width: 400px;
  height: 500px;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
input {
  font-size: larger;
  height: 50px;
  background-color: black;
  color: white;
  padding: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
button {
  font-size: 16px;
  height: 50px;
  background-color: white;
}
.mini-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr); */

  grid-auto-flow: column;
  grid-template-areas:
    "d c a b"
    "m n o r"
    "j k l sr"
    "g h i s"
    "p q f e";
}
#one {
  grid-area: g;
}
#two {
  grid-area: h;
}
#three {
  grid-area: i;
}
#four {
  grid-area: j;
}
#five {
  grid-area: k;
}
#six {
  grid-area: l;
}
#seven {
  grid-area: m;
}
#eight {
  grid-area: n;
}
#nine {
  grid-area: o;
}
#zero {
  grid-area: p;
}
#multiply {
  grid-area: a;
  background-color: rgb(217, 211, 211);
}
#divide {
  grid-area: b;
  background-color: rgb(217, 211, 211);
}
#minus {
  grid-area: c;
  background-color: rgb(217, 211, 211);
}
#plus {
  grid-area: d;
  background-color: rgb(217, 211, 211);
}
#enter {
  grid-area: e;
  background-color: orange;
  /* height: 150px; */
}
#cancel {
  grid-area: f;
}

#point {
  grid-area: q;
}

#clear {
  grid-area: r;
}

#square-root {
  grid-area: sr;
}

#square {
  grid-area: s;
}
